@page "/"
@using UIComponents

<PageTitle>Index</PageTitle>

<h1>SHIT</h1>

welcome to shared redit also called SHIT (where we take the sh from shared and it from redit) because we preach what we teach.

<SurveyPrompt Title="How is Blazor working for you?"/>